@page "/todo"

<PageTitle>Todo</PageTitle>

<h2>Todo <span class="badge rounded-pill bg-primary">@todos.Count(todo => !todo.IsDone)</span></h2>

@foreach (var todo in todos)
{
    <div class="input-group mb-3">
        <div class="input-group-text">
            <input class="forms-check-input mt-0" type="checkbox" @bind="todo.IsDone"/>
        </div>
        <input type="text" class="form-control" @bind="todo.Title"/>
        <button class="btn btn-danger" type="button" @onclick="() => RemoveTodo(todo.Id)">Remove</button>
    </div>
}

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Something todo" @bind="newTodo"/>
    <button class="btn btn-success" type="button" @onclick="AddTodo">Add</button>
</div>


@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Id = Guid.NewGuid(), Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private void RemoveTodo(Guid id)
    {
        todos.RemoveAll(todo => todo.Id == id);
    }
}